language:
  - java
  - go
go:
  - "1.11.x"
jdk:
  - openjdk8
git:
  submodules: true
sudo: required
before_script:
  - git submodule update --init --recursive --jobs 7
  - sudo ./start.sh
script:
  - docker-compose up
