version: '2'
networks:
  bridge:
    driver: bridge
services:
  loans:
    build:
      context: ./loans
    container_name: loans
    depends_on:
      - db
      - clients
      # - applications
      # - calculations
    ports:
      - "8083:8080"
    environment:
      - DB_USER=test
      - DB_PASSWORD=test
      - DB_HOST=database
      - CLIENTS_PORT=8080
      - APPLICATIONS_PORT=8084
      - CALCULATIONS_PORT=8085
    networks:
      - bridge
  expenses:
    build:
      context: ./expenses
    container_name: expenses
    depends_on:
      - db
      - clients
    ports:
      - "8082:8080"
    environment:
      - DB_USER=test
      - DB_PASSWORD=test
      - DB_HOST=database
      - CLIENTS_PORT=8080
    networks:
      - bridge
  currency:
    build:
      context: ./currency
    container_name: currency
    depends_on:
      - db
    ports:
      - "8081:8080"
    environment:
      - DB_USER=test
      - DB_PASSWORD=test
      - DB_HOST=database
    networks:
      - bridge
  clients:
    build:
      context: ./clients
    container_name: clients
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      - DB_USER=test
      - DB_PASSWORD=test
      - DB_HOST=database
    networks:
      - bridge
  migrate:
    image: amacneil/dbmate
    container_name: migrate
    depends_on:
      - db
    volumes:
      - ./sql:/db/migrations
    environment:
      - DATABASE_URL=postgresql://test:test@database:5432/test?sslmode=disable
    networks:
      - bridge
  db:
    image: postgres
    container_name: database
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_ROOT_PASSWORD=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_USER=test
      - POSTGRES_DB=test
      - POSTGRES_INITDB_ARGS="--encoding=UTF8"
    networks:
      - bridge
